/* ===== Import de Fonte pelo Google Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* ===== Valores utilizados como parâmetros para o @MEDIA =====
Common Breakpoints:
desktop: 1280px;
notebook: 992px;
tablet: 768px;
celular: 480px;
*/

/* ====== Seção com o RESET da página ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ===== Seção de estilização do HTML/BODY da página ===== */
html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #00adef;
}

html {
    scroll-behavior: smooth;
}

/* ===== Seção de estilização do CABEÇALHO da página ===== */
.cabecalho {
    padding: 10px;
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFF;
}

.logo img {
    margin: 1px 0px 0px 1px;
    height: 60px;
    width: 50px;
    border-radius: 50%;
}

/* ===== Seção de estilização do BANNER da página ===== */
.secBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    margin-top: 85px;
}

.banner {
    background-image: url("https://cdn.vox-cdn.com/thumbor/Fp0I7bGJnxzmXCQ-N5MllQElDWc=/928x997:3696x2940/1400x933/filters:focal(1550x1548:2510x2508):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/66888887/Studio_Ghibli_Logo.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 50vh;
    position: relative;
    z-index: -2;
    margin: 0%;
}

.textlogo h1 {
    text-align: center;
    font-size: 85px;
    text-shadow: #000000 3px 5px 10px;
    color: #000000;
}

/* ===== Seção de estilização do FORMULÁRIO da página */
.caixaLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.form-format input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-format h4 {
    font-family: Arial, Helvetica, sans-serif
}

input {
    width: 70vw;
    height: 50px;
    border-radius: 10px;
}

input[type=email],
input[type=password] {
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.6);
    width: 70vw;
    height: 50px;
    font-size: medium;
}

input[type=submit] {
    width: 250px;
    height: 50px;
    font-size: larger;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.6);
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#submit-button :hover {
    background-color: aqua;
    text-decoration: none;
}

/* ===== Seção de estilização do RODAPÉ da página */
.rodape {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 10px;
    flex-shrink: 0;
    height: auto;
    background-color: #1a1c1d;
    color: #FFFF;
    bottom: 0;
}

.direitos {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.rodape .direitos {
    grid-column: 1/5;
    justify-items: center;
}

.aluno_footer {
    margin-bottom: 20px;
}

.aluno_footer h1 {
    text-align: center;
    font-size: 75%;
}

.aluno_footer a {
    text-decoration: none;
}

.aluno_footer img {
    height: 40px;
    width: 40px;
}

.aluno_footer img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* ===== Configurações de responsividade para TABLETS ===== */
@media (min-width: 768px) and (orientation: portrait) {
    .cabecalho {
        padding: 10px;
    }
}

/* ===== Configurações de responsividade para NOTEBOOKS ===== */
@media (min-width: 992px) {

    body{
        background-color: #1BA0D0;
    }

    .banner {
        background-image: url('https://i0.wp.com/studioghibli.com.br/wp-content/uploads/2008/07/Studio-Ghibli-Logo.jpg?fit=1920%2C1040&ssl=1');
        background-size: cover;
    }

    .secBanner {
        background-size: 5%;
    }

    .rodape {
        top: 30px;
        min-height: 140px;
    }
}

/* ===== Configurações de responsividade para DESKTOPS ===== */
@media (min-width: 1280px) {
    .rodape {
        top: 30px;
        min-height: 150px;
    }

    input {
        width: 50vw;
        height: 50px;
        border-radius: 10px;
    }

    input[type=email],
    input[type=password] {
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.6);
    width: 50vw;
    height: 50px;
    font-size: medium;
}
}