/* Import de Fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*Common Breakpoints:
desktop: 1280px;
notebook: 992px;
tablet: 768px;
celular: 480px;*/

/*============= SEÇÃO DO RESET ==============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*============= SEÇÃO DAS VARIAVÉIS ==============*/
:root {

  /* colors */
  --hue: 183;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 100% 15%);
  --base-color-second: hsl(var(--hue) 100% 30%);
  --title-color: hsl(var(--hue) 83% 38%);
  --text-color: rgb(77, 28, 27);
  --text-color-light: rgb(153, 59, 0);
  --body-color: rgb(255, 255, 255);
}

/*============= SEÇÃO DA BASE ==============*/
html,
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Estilização do Cabeçalho */
.cabecalho {
  max-height: 137px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--body-color);
  position: fixed;
  z-index: 5;
  padding: 10px;
}

.logo img {
  margin: 1px 0px 0px 1px;
  height: 60px;
  width: 50px;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

/*============= SEÇÃO DO LAYOUT ==============*/
h2 {
  color: var(--body-color);
  margin-top: 0.5rem;
}

p {
  margin: 1rem;
}

/* Seção de estilização do Banner da página */
.secBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
}

.media {
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  min-height: 20vh;
}

.media img {
  width: 100vw;
  height: auto;
}

.media .media-body {
  position: absolute;
}

/* Estilização da seção dos Cards da página */
.secCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards a {
  text-decoration: none;
}

.titulo-section {
  margin: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 85vw;
  min-height: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--base-color-second);
  border-radius: 0.5rem;
}

.cards img {
  width: 80vw;
  height: 30vh;
}

.cards p {
  text-align: justify;
  padding: 5px;
  font-size: 1.12rem;
}

/*====== SEÇÃO BOTÃO ABRIR ======*/
.abrir {
  position: relative;
  top: auto;
  margin-bottom: 0;
}

.abrir :focus {
  background-color: #000000;
}

.abrir :hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.abrir a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: solid 1px var(--base-color);
  background-color: var(--base-color);
  width: 150px;
  height: 50px;
  color: var(--body-color);
  border-radius: 0 1rem;
}

.divisor-1 {
  height: 2px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 100%, 15%),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

/* Estilização do Rodapé da página */
.rodape {
  flex-shrink: 0;
  height: 60px;
  background-color: #000000;
  color: #FFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}

.aluno_footer img {
  height: 40px;
  width: 40px;
}

.aluno_footer h1,
p {
  font-size: 75%;
}

/* Configurações de responsividade da página */

@media (min-width: 768px) and (orientation: portrait) {
  .cabecalho {
    padding: 10px;
  }

  .menu-mobile{
    display: none;
  }

  .menu-desktop{
    display: initial;
  }

  .banner {
    background-size: cover;
  }

  .flutuante {
    margin: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-x: hidden;
  }

  .cards img {
    width: 35vw;
    height: 30vh;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    width: 40vw;
  }
  .divisor-1{
    display: none;
  }
}

@media (max-width: 990px){
  .aluno_footer {
    display: none;
  }
}

@media (min-width: 992px) {

  .media img {
    height: 550px;
  }

  .divisor-1{
    display: none;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    width: 95vw;
    min-height: 40vh;
  }

  .cards img {
    width: 23vw;
    height: 20vh;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    width: 25vw;
  }
  
  .rodape{
    top: 30px;
    height: 140px;
    background-color: var(--base-color);
  }
}

@media (min-width: 1280px){
  .media img {
    height: 550px;
  }

  .divisor-1{
    display: none;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    width: 95vw;
    min-height: 40vh;
  }

  .cards img {
    width: 23vw;
    height: 30vh;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    min-height: 85vh;
    width: 25vw;
  }
  
  .rodape{
    top: 30px;
    height: 150px;
    background-color: var(--base-color);
  }
}