@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFF;
}

.logo img{
    margin: 1px 0px 0px 1px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#main-menu {
display: none;
height: 100px;
width: 100%;
background: #3D0E61;
margin: 0px;  
z-index: 9;
}

#main-menu ul {
max-width: 800px;
width: 100%;
height: 100%;
margin: 0px auto;
padding: 0px;
display: flex;
justify-content: space-evenly;
align-items: center;
z-index: 9;
}

#main-menu li {
list-style-type: none;
font-size: 2rem;
}

#main-menu a {
color: #B9FAF8;
font-size: 1.5rem;
text-decoration: none;
}

#main-menu a:hover {
text-decoration: underline;
}

#hamburger-input{
display: none;
}

#hamburger-menu {
  position: right;
  top: 20px;
  left: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: inline;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Cabin', Sans-serif;
  background: linear-gradient(
    to bottom, 
    black, black 20%, 
    #FFFF 20%, #FFFF 40%, 
    black 40%, black 60%, 
    #FFFF 60%, #FFFF 80%, 
    black 80%, black 100%
  );
}

#hamburger-menu #sidebar-menu {
  display: hidden;
  position: fixed;
  top: 0;
  right: -250px;
  width: 200px;
  height: 100%;
  background-color: #000000;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}

#hamburger-menu h3 {
color: #FFFF;
font-size: 2.2rem;
}

#hamburger-menu ul {
padding-left: 0px;
}

#hamburger-menu li {
list-style-type: none;
line-height: 3rem;
margin-top: 10px;
}

#hamburger-menu a {
margin-top: 10px;
color: #FFFF;
font-size: 1.3rem;
text-decoration: none;
}

#hamburger-menu a:hover {
text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay{
 visibility: visible;
opacity: 0.4;
}

#sidebar-menu, #sidebar-menu h3{
  padding-top: 10px;
}

.banner{
  background-image: url("https://www.oficinadanet.com.br/imagens/post/30022/capa-studio-ghibli-lanca-no-brasil-suas-trilhas-sonoras-no-spotify-01_1400x875_5e6168fc71454.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -3;
  width: 100vw;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.flutuante{
  position: absolute;
  margin-top: 40px;
}

.flutuante h1{
  color: #0A8419;
}

.botao_explorar {
  position: absolute;
  border: solid 1px green;
  opacity: 0.3;
  padding: 10px;
}

.botao_explorar a{
  text-decoration: none;
  font-style: none;
  color: white;
}

.titulo-section{
  text-align: center;
}

.cards{
  width: 80vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.card1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1 img{
  width: 80vw;
  height: 40vh;
}

.card1 p {
  padding: 5px;
  font-size: 1.12rem;
}

.abrir, .abrir a{
  border: solid 1px #33BB69;
  background-color: #33BB69;
  text-decoration: none;
  color: #FFFF;
  width: 150px;
  height: 50px;
  text-align: center;
}












.aluno_footer{
  display: none;
}
  
.aluno_footer img {
    height: 40px;
    width: 40px;
}

.aluno_footer h1, p {
    font-size: 75%;
}

.rodape{
    bottom:0;
    top: auto;
    position: relative;
    width: 100vw;
    height:auto;  
    background-color:#5B8899;
    text-align: center;
    color: white;
    font-size: 12px;
}

